


#content{
    max-width:960px;
    display:grid;
    max-height:99%;
    /* grid-template-columns: 33% 23.3% 43.3%; */
    /* grid-template-columns: 1fr 2fr 3fr; */
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows:minmax(200,auto); */
    grid-template-rows: repeat(3, 600);

    margin:0 auto; /* centers on the page*/
}
#content div{
  padding:30%;
}
#content div:nth-child(even){
    background-color: peachpuff;
}
#content div:nth-child(odd){
    background-color: royalblue;
}